<style>
	.bg { background-image: url('/static/images/bg.jpg'); }
	/*.radial-box-dark { margin-top: 64px; }*/
	h1 { text-shadow: #000 0px 0px 16px; }
	main { height: 100%; }
</style>

<div class="radial-box-dark">
	<h1>Classic With An Edge</h1>
	<p>Finite Designer Jewelry is about creating unique high quality pieces of jewelry using silver, gold and precious stones that represent valuable beauty at an affordable price.</p>
	<a href="/jewelry" class="button-gold">View Jewlery</a>
</div>
