
<div class="radial-box-light">
	<h2>Your order was successful</h2>

	<div class="glass-box p-32">
		<p>
			We greatly apreciate your business. Your transaction is now complete. We will be shipping your item soon.
		</p>
	</div>

</div>
