
<link ng-href="{{AGC.aseGalleryPath + 'gallery.css'}}" rel="stylesheet">

<div class="ase-gallery-wrap">

	<div class="gallery-main">
		<div class="gallery-container-wrap">
			<div class="gallery-container" ng-style="AGC.galleryContainer">
				<img ng-repeat="image in AGC.images" class="{{$index}}" ng-class="{activeImage: AGC.activeImageIndex == $index}" ng-src="{{AGC.imagesPath + image.src}}" alt="{{image.alt}}"/>
			</div>
		</div>
		<div class="gallery-backwards" ng-show="AGC.isMoreThanOneImage" ng-click="AGC.setBackwardImage()">
			<svg class="gallery-arrow" fill="rgba(255, 255, 255, 0.6)" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
				<path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
				<path d="M0-.5h24v24H0z" fill="none"/>
			</svg>
		</div>
		<div class="gallery-forwards" ng-show="AGC.isMoreThanOneImage" ng-click="AGC.setForwardImage()">
			<svg  class="gallery-arrow" fill="rgba(255, 255, 255, 0.6)" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
				<path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
				<path d="M0-.25h24v24H0z" fill="none"/>
			</svg>
		</div>
	</div>

	<div class="gallery-preview">
		<div class="gallery-preview-wrap">
			<div class="gallery-preview-image-wrap" ng-repeat="image in AGC.images" ng-click="AGC.scrollContainer($index)" >
				<img ng-src="{{AGC.imagesPath + image.src}}" />
			</div>
		</div>
	</div>

</div>
